body {
    background-color: rgb(77, 29, 43);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 2, 35);
    border: 2px solid black;
    box-shadow: 0 0 5px 5px black;
    border-radius: 5rem;
    gap: 4rem;
    padding: 5rem;
    width: 60rem;
    h2 {
        font-size: 4rem;
    }
}

.lenght-control {
    width: 100%;
    gap: 5rem;
    display: flex;
    justify-content: space-between;
    
    .control {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        gap: .5rem;
    }

    .title {
        font-size: 2rem;
    }
   
    .contenedor-flechas {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        flex-direction: row;
        
    }
}

.timer-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        box-shadow: 0 0 5px 5px black;
        padding: 2rem 4rem;
        border-radius: 5rem;
        #timer-label {
            font-size: 2rem;
        }
        #timer-left {
            font-size: 5rem;
        }
    }
}

.timer-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#break-length, #session-length {
    font-size: 2rem;
    width: 5rem;
    text-align: center;
}

.boton {
    cursor: pointer;
    background-color: rgb(212, 14, 14);
    border: 2px solid black;
    border-radius: 4rem;
    
    i {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        font-size: 2.5rem;
        width: 2rem;
        height: 5rem;
        padding: 2rem;
    }
}


.derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: white;
    }

    .logo {
        width: 12rem;
    }
}

