// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tabletXL: 900px;
$desktop: 1024px;
$desktopXL: 1260px;

// Colores principales
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: red;
$azul: blue;
$rosa: #59025a;
$rosa2: #ff70db;
$rosa3: #E84A8A;

// Colores Proyecto
$principal: #1DF1EF;
$secundario: #094746;

// Colores DARK MODE
$dark1: #031C1C;
$dark2: #121212;
$dark3: #1C031C;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;